<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js">
        </script>
        <script src="cordova.js"></script>
        <script src="js/uuid.js"></script>
        <script>


            angular.module("TodoApp", []).controller("TodoCtrl", function ($scope, $http) {
                //alert("In Angular");
                $scope.todos = [];
                var dbSize = 5 * 1024 * 1024; // 5MB
                /// open database
                var db = openDatabase("Todo", "1", "Todo manager", dbSize);
                // create table for todos
                db.transaction(function (tx) {
                    tx.executeSql("CREATE TABLE IF NOT EXISTS " +
                        "todo(ID TEXT PRIMARY KEY, todo TEXT, added_on DATETIME, finished_on DATETIME)", [],
                        function () {
                            console.log("success");
                            $scope.readTodos();
                        },
                        function () { console.log("failure") }
                    );
                });

                $scope.addTodo= function(){
                    //alert("In addTodo() with" + $scope.todoItem);
                    
                    //insert data into table
                    db.transaction(function (tx) {
                        var dToday = new Date();
                        tx.executeSql("INSERT INTO todo(ID, todo, added_on) VALUES(?, ?, ?) ",
                            [uuid.v4(), $scope.todoItem, dToday],
                            function () {
                                $scope.todoItem = "";
                                console.log("successfully inserted");
                            
                                $scope.readTodos();
                            },
                            function () {
                                console.log("failed");
                            }
                        );
                    });

                }
                $scope.readTodos = function(){
                    db.transaction(function (tx) {
                        tx.executeSql("SELECT * FROM todo ORDER BY strftime('%Y-%m-%d:%h:%m:%s', added_on)", [], function(tx, rs){
                            $scope.todos = [];
                            for(var n = 0; n < rs.rows.length; n++){
                                $scope.todos.push({name: rs.rows.item(n).todo,
                                ID: rs.rows.item(n).ID});
                            }
                            $scope.$apply();

                        },
                        function(err){

                        });

                    });
                }
                $scope.deleteTodo = function(id){
                    db.transaction(function(tx){
                        tx.executeSql("DELETE FROM todo WHERE ID = ?",
                        [id],
                        function(tx){
                            $scope.readTodos();
                        },
                        function(err){
                            console.log(err);
                        });
                    });
                }
            });

        </script>
    </head>
    <body>
        <h1>WebDb TodoList</h1>
        <p>This is a simple todolist. Type a task in the box below. Click on the plus button to add to the list</p>
        <form ng-app="TodoApp" ng-controller="TodoCtrl" ng-submit="addTodo()">
            <div ng-repeat="todo in todos"><button type="button" ng-click="deleteTodo(todo.ID)">-</button>&nbsp;{{todo.name}}</div>
            <input ng-model="todoItem"/>
            <button type="submit">+</button>
        </form>
    </body>
</html>
